html, body {
	width: 100%;
	padding: 10px;
	margin: 0;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	background-color:#161119;
	color:#F2F2FC;
	font-size: 25px;
	line-height: 1.4;
}

.content {
	width: 100%;
	max-width: 650px;
	margin-left: auto ;
	margin-right: auto ;
/* 	background-color:lightblue; */
	display: flex;
	flex-direction: column;
	padding-top: 100px;
	padding-bottom: 100px;
}

h2 {
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.text-container {
	padding-top: 30px;
	padding-bottom: 30px;
}

.vid {
	width: 100%;
	height: auto;
	object-fit: fill;
	box-sizing: border-box;
	-webkit-box-shadow: 5px 5px 17px 1px rgba(0,0,0,0.50); 
	box-shadow: 5px 5px 17px 1px rgba(0,0,0,0.50);
	border-radius:10px;
	border: 2px solid #ccc;
}

.vid-container {
	padding-top: 20px;
	padding-bottom: 20px;
}

.double {
	display: flex;
	flex-direction: row;
	width: 100%;
} 

.double-vid-container {
	width: 50%;
	padding-left: 10px;
	padding-right: 10px;
} .double-vid-container .vid {
	height: 100%;
} .double-vid-container .vid-container {
	padding-top: 5px;
	padding-bottom: 5px;
}

